{% extends "base.html" %} {% block content %}
<h2>계정 생성</h2>
<form method="post" class="register-form">
  <div>
    <label for="username">사용자 이름</label>
    <input type="text" name="username" id="username" required />
  </div>
  <div>
    <label for="password">비밀번호</label>
    <input type="password" name="password" id="password" required />
  </div>
  <div>
    <label for="password2">비밀번호 확인</label>
    <input type="password" name="password2" id="password2" required />
  </div>
  <button type="submit">생성하기</button>
</form>
{% endblock %}
