{% extends "base.html" %} {% block content %}
<h2>{{ restaurant.name }}</h2>
<div class="restaurant-info">
  <p><strong>분류:</strong> {{ restaurant.category or '정보 없음' }}</p>
  <p><strong>주소:</strong> {{ restaurant.address or '정보 없음' }}</p>
  <p><strong>전화:</strong> {{ restaurant.phone or '정보 없음' }}</p>
  <p><strong>영업시간:</strong> {{ restaurant.hours or '정보 없음' }}</p>
  <p><strong>평균 평점:</strong> {{ restaurant.avg_rating }} / 5</p>
</div>
<h3>후기</h3>
<div class="reviews">
  {% if reviews %} {% for rev in reviews %}
  <div class="review">
    <p>
      <!-- rev.user_id 를 통해 username을 가져올 방법이 없나? -> reference가 여기서 쓰일 수 있다 -->
      <span class="review-author">{{ rev.user.username }}</span>
    </p>
    <span class="review-rating">{{ rev.rating|stars }}</span>
    <p class="review-comment">{{ rev.comment }}</p>
    <p class="review-date">{{ rev.created_at.strftime("%Y-%m-%d %H:%M") }}</p>
    <br/>
    <div class="review-comments">
      <h5>댓글</h5>
      {% if rev.comments %}
        {% for comment in rev.comments %}
          <div class="comment" style="display: flex; flex-direction: row;justify-content: space-between; margin: 30px 0">
            <div>
            <span style="font-weight:bold">{{ comment.user.username}}</span>:
            <span>{{comment.comment}}</span>
            
          </div>
          <div>
          <span class="comment-date">
            ({{comment.created_at.strftime("%Y-%m-%d %H:%M")}})
          </span>
            {% if session['user_id'] == comment.user_id %}
            <form action="{{url_for('delete_comment', comment_id=comment.id)}}"
                  method="post"
                  style="display:inline;">
                  <button type="submit" style="border:none; background:none; color:red; cursor:pointer;">X</button>
            </form>
            {% endif %}
          </div>
          </div>
        
        {% endfor %}
      {% else %}
        <p>댓글을 작성해보세요..</p>
      {% endif %}
    </div>
    <div class="comment-form">
      <form action="{{url_for('add_comment', review_id=rev.id)}}"method="post">
        <textarea
          name="comment"
          placeholder="댓글 내용"
          rows="2"
          style="width: 100%"
          required></textarea>
          <br/>
          <button type = "submit">댓글 작성</button>

    </form>
    </div>
  </div>
  {% endfor %} {% else %}
  <p>등록된 후기가 없습니다.</p>
  {% endif %}
</div>
<!-- 후기 작성 폼 => 페이지를 나누어야 할 듯 -->
<div class="review-form">
  <h4>후기 작성</h4>
  <form
    action="{{ url_for('add_review', board=board, rest_id=restaurant.id) }}"
    method="post"
  >
    <label for="rating">평점:</label>
    <select name="rating" id="rating">
      {% for r in range(1, 6) %}
      <option value="{{ r }}">{{ r }}</option>
      {% endfor %}
    </select>
    <br />
    <label for="comment">내용:</label>
    <textarea name="comment" id="comment" rows="3" required></textarea>
    <br />
    <button type="submit">등록</button>
  </form>
</div>
{% endblock %}
